* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    background: #f12711;
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);
    background: linear-gradient(to right, #f5af19, #f12711);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section div {
    padding: 20px;
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.57);
    height: 50vh;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

section div span {
    font-size: 80px;
}

section div button {
    cursor: pointer;
    height: 40px;
    width: 200px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 20px;
}

section div button:hover {
    background: #f12711;
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);
    background: linear-gradient(to right, #f5af19, #f12711);
    letter-spacing: 0.7px;
}

section div p {
    color: white;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}